.questionnaire {
  border: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding: 5%;
  width: 100%;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .questionnaire {
    padding: 20px;
  }
}

.question-number {
  color: red;
}

.questions-text-wrapper {
  display: flex;
  flex-direction: column;
  margin-left: 12px;
  > * {
    margin: 0;
  }
}

.questions-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.questions-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.finish-button {
  padding: 8px 32px;
  border-radius: 9px;
  border: none;
  background-color: #e98941;
  font-weight: 600;
  margin-top: 20px;
}

.login-button {
  padding: 8px 32px;
  border-radius: 9px;
  border: none;
  background-color: #e98941;
  font-weight: 600;
  margin-top: 20px;
}
